<section class="chordDiagrams">
    <header>
        <h1>Voima sointu riffit</h1>
        <h2 class="page">Sivu 11</h2>
    </header>
    <div *ngFor="let chord of powerChordRiffit; let ichord = index">
        <article class="full special" *ngIf="ichord < 3">
            <header><h1>{{chord.name}}</h1></header>
            <div class="{{chord.name}}">
                <div *ngFor="let duuri of chord.chords; let i = index">
                    <div class="{{duuri.class}}"></div>
                </div>
            </div>
        </article>
    </div>
</section>
<section class="chordDiagrams">
    <header>
        <h1>Voima sointu riffit</h1>
        <h2 class="page">Sivu 12</h2>
    </header>
    <div *ngFor="let chord of powerChordRiffit; let ichord = index">
        <article class="full special" *ngIf="ichord > 3 && ichord <= 6">
            <header><h1>{{chord.name}}</h1></header>
            <div class="{{chord.name}}">
                <div *ngFor="let duuri of chord.chords; let i = index">
                    <div class="{{duuri.class}}"></div>
                </div>
            </div>
        </article>
    </div>
</section>
<section class="chordDiagrams">
    <header>
        <h1>Voima sointu riffit</h1>
        <h2 class="page">Sivu 13</h2>
    </header>
    <div *ngFor="let chord of powerChordRiffit; let ichord = index">
        <article class="full special" *ngIf="ichord > 6 && ichord <= 9">
            <header><h1>{{chord.name}}</h1></header>
            <div class="{{chord.name}}">
                <div *ngFor="let duuri of chord.chords; let i = index">
                    <div class="{{duuri.class}}"></div>
                </div>
            </div>
        </article>
    </div>
</section>
<section class="chordDiagrams">
    <header>
        <h1>Voima sointu riffit</h1>
        <h2 class="page">Sivu 14</h2>
    </header>
    <div *ngFor="let chord of powerChordRiffit; let ichord = index">
        <article class="full special" *ngIf="ichord > 9">
            <header><h1>{{chord.name}}</h1></header>
            <div class="{{chord.name}}">
                <div *ngFor="let duuri of chord.chords; let i = index">
                    <div class="{{duuri.class}}"></div>
                </div>
            </div>
        </article>
    </div>
</section>