section {
    display: block;
    float: left;
    clear: both;
    page-break-after: always;
    width: 210mm;
    min-height: 297.1mm;
    height: auto;
    position: relative;
    overflow: hidden;
    header {
        display: block;
        float: left;
        width: 100%;
        background-color: #323232;
        position: relative;
        h1 {
            display: block;
            float: left;
            width: 100%;
            line-height: 30px;
            margin: 0;
            padding: 0;
            text-align: center;
            color: white;
        }
        h2 {
            display: block;
            float: left;
            width: 100%;
            color: white;
            text-align: center;
            &.page {
                width: 60px;
                position: absolute;
                right: 10px;
                top: 8px;
                margin: 0;
                padding: 0;
                font-size: 12px;
            }
        }
        h3 {
            display: block;
            float: left;
            width: 100%;
            text-align: center;
            color: white;
        }
    }
    
    p {
        display: block;
        float: left;
        width: 48%;
        padding: 10px 20px;
        margin: 10px 1% 0 1%;
        font-size: 16px;
        border: 1px solid grey;
        &:nth-of-type(2n+2) {
            margin: 10px 1% 0 0;
            width: 49%;
        }
    }
}