<section class="chordDiagrams">
    <header>
        <h1>Sanoitukset esimerkki</h1>
        <h2 class="page">Sivu 13</h2>
    </header>
    <div *ngFor="let chord of powerChordRiffit; let ichord = index">
        <article class="full special" *ngIf="ichord < 3">
            <header><h1>Soinnut: {{chord.name}}</h1></header>
            <div class="{{chord.name}}">
                <div *ngFor="let duuri of chord.chords; let i = index">
                    <div class="{{duuri.class}}"></div>
                </div>
            </div>
        </article>
    </div>
    <h2>Sanoituksen runko</h2>
    <table [cellSpacing]="0" [cellPadding]="0">
        <thead>
            <tr>
                <th>Alku</th>
                <th>Loppu</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    <h2>Säkeistö A | <div *ngFor="let sointu of powerChordRiffit"><span *ngFor="let chord of sointu.chords; let i = index"><span style="color: {{chord.color}};" *ngIf="i < 3">{{chord.name}} </span></span></div></h2>
                    <p>Kuvaus tilanteesta eli mitä tehdään ja missä.</p>
                    <p>Tämä osuus on neljä lausetta pitkä.</p>
                    <h3>Instrumentaali osuus: 5 sec</h3>
                    <h2>Kertosäe | <div *ngFor="let sointu of powerChordRiffit"><span *ngFor="let chord of sointu.chords; let i = index"><span style="color: {{chord.color}};" *ngIf="i >= 3">{{chord.name}} </span></span></div></h2>
                    <p>Rimmaavia lauseita tarinasta.</p>
                    <p>Tämä osuus on neljä lausetta pitkä.</p>
                    <h3>Instrumentaali osuus: 10 sec</h3>
                    <h2>Säkeistö B | <div *ngFor="let sointu of powerChordRiffit"><span *ngFor="let chord of sointu.chords; let i = index"><span style="color: {{chord.color}};" *ngIf="i < 3">{{chord.name}} </span></span></div></h2>
                    <p>Kerro tarinaa tässä ja avaa kuuntelijalle biisiä enemmän.</p>
                    <p>Tämä osuus on neljä lausetta pitkä.</p>
                    <h3>Instrumentaali osuus: 5 sec</h3>
                    <h2>Kertosäe | <div *ngFor="let sointu of powerChordRiffit"><span *ngFor="let chord of sointu.chords; let i = index"><span style="color: {{chord.color}};" *ngIf="i >= 3">{{chord.name}} </span></span></div></h2>
                    <p>Rimmaavia lauseita tarinasta.</p>
                    <p>Tämä osuus on neljä lausetta pitkä.</p>
                    <h3>Instrumentaali osuus: 10 sec</h3>
                </td>
                <td>
                    <h2>Silta | <div *ngFor="let sointu of powerChordRiffit"><span *ngFor="let chord of sointu.chords; let i = index"><span style="color: {{chord.color}};" *ngIf="i < 3">{{chord.name}} </span></span></div></h2>
                    <p>Kuvaus miten kaikki korjataan.</p>
                    <p>Tämä osuus on neljä lausetta pitkä.</p>
                    <h3>Instrumentaali osuus: 10 sec</h3>
                    <h2>Kertosäe | <div *ngFor="let sointu of powerChordRiffit"><span *ngFor="let chord of sointu.chords; let i = index"><span style="color: {{chord.color}};" *ngIf="i >= 3">{{chord.name}} </span></span></div></h2>
                    <p>Rimmaavia lauseita tarinasta.</p>
                    <p>Tämä osuus on neljä lausetta pitkä.</p>
                    <h3>Instrumentaali osuus: 10 sec</h3>
                    <h2>Silta | <div *ngFor="let sointu of powerChordRiffit"><span *ngFor="let chord of sointu.chords; let i = index"><span style="color: {{chord.color}};" *ngIf="i < 3">{{chord.name}} </span></span></div></h2>
                    <p>Kuvaus miten kaikki korjataan.</p>
                    <p>Tämä osuus on neljä lausetta pitkä.</p>
                    <h3>Instrumentaali osuus: 10 sec</h3>
                    <h2>Kertosäe | <div *ngFor="let sointu of powerChordRiffit"><span *ngFor="let chord of sointu.chords; let i = index"><span style="color: {{chord.color}};" *ngIf="i >= 3">{{chord.name}} </span></span></div></h2>
                    <p>Rimmaavia lauseita tarinasta.</p>
                    <p>Tämä osuus on neljä lausetta pitkä.</p>
                    <h3>Instrumentaali osuus: 10 sec</h3>
                </td>
            </tr>
        </tbody>
    </table>
</section>
<section class="chordDiagrams" *ngFor="let page of powerChordRiffitKaikki; let pagei = index">
    <header>
        <h1>Sanoitukset sapluuna {{page.name}}</h1>
        <h2 class="page">Sivu {{(14 + (pagei))}}</h2>
    </header>
    <div>
        <article class="full special">
            <header><h1>Soinnut: {{page.name}}</h1></header>
            <div class="{{page.name}}">
                <div *ngFor="let duuri of page.chords; let i = index">
                    <div class="{{duuri.class}} small"></div>
                </div>
            </div>
        </article>
    </div>
    <h2>Sanoituksen runko</h2>
    <table [cellSpacing]="0" [cellPadding]="0" class="template">
        <thead>
            <tr>
                <th>Alku</th>
                <th>Loppu</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    <h2>Säkeistö A | <span *ngFor="let chord of page.chords; let i = index"><span style="color: {{chord.color}};" *ngIf="i < 3">{{chord.name}} </span></span></h2>
                    <p></p>
                    <h3>Instrumentaali osuus: 5 sec</h3>
                    <h2>Kertosäe | <span *ngFor="let chord of page.chords; let i = index"><span style="color: {{chord.color}};" *ngIf="i >= 3">{{chord.name}} </span></span></h2>
                    <p></p>
                    <h3>Instrumentaali osuus: 10 sec</h3>
                    <h2>Säkeistö B | <span *ngFor="let chord of page.chords; let i = index"><span style="color: {{chord.color}};" *ngIf="i < 3">{{chord.name}} </span></span></h2>
                    <p></p>
                    <h3>Instrumentaali osuus: 5 sec</h3>
                    <h2>Kertosäe | <span *ngFor="let chord of page.chords; let i = index"><span style="color: {{chord.color}};" *ngIf="i >= 3">{{chord.name}} </span></span></h2>
                    <p></p>
                    <h3>Instrumentaali osuus: 10 sec</h3>
                </td>
                <td>
                    <h2>Silta | <span *ngFor="let chord of page.chords; let i = index"><span style="color: {{chord.color}};" *ngIf="i < 3">{{chord.name}} </span></span></h2>
                    <p></p>
                    <h3>Instrumentaali osuus: 10 sec</h3>
                    <h2>Kertosäe | <span *ngFor="let chord of page.chords; let i = index"><span style="color: {{chord.color}};" *ngIf="i >= 3">{{chord.name}} </span></span></h2>
                    <p></p>
                    <h3>Instrumentaali osuus: 10 sec</h3>
                    <h2>Silta | <span *ngFor="let chord of page.chords; let i = index"><span style="color: {{chord.color}};" *ngIf="i < 3">{{chord.name}} </span></span></h2>
                    <p></p>
                    <h3>Instrumentaali osuus: 10 sec</h3>
                    <h2>Kertosäe | <span *ngFor="let chord of page.chords; let i = index"><span style="color: {{chord.color}};" *ngIf="i >= 3">{{chord.name}} </span></span></h2>
                    <p></p>
                    <h3>Instrumentaali osuus: 10 sec</h3>
                </td>
            </tr>
        </tbody>
    </table>
</section>
<section class="chordDiagrams" *ngFor="let page of perusSointukulkuData; let pagei = index">
    <header>
        <h1>Sanoitukset sapluuna {{page.name}}</h1>
        <h2 class="page">Sivu {{(26 + (pagei))}}</h2>
    </header>
    <div>
        <article class="full special perus">
            <header><h1>Soinnut: {{page.name}}</h1></header>
            <div class="{{page.name}}">
                <div *ngFor="let duuri of page.duurit; let i = index">
                    <div class="{{(i === 2) ? duuri.class.replace('Minor', '') + 'Seven' : duuri.class}} small2"></div>
                </div>
                <div *ngFor="let molli of page.mollit; let i = index">
                    <div class="{{(i === 2) ? (!molli.class.includes('Sharp')) ? (!molli.class.includes('Minor')) ? molli.class + 'MinorSeven' : molli.class + 'Seven' : molli.class + 'MinorSeven' : (molli.class.includes('Minor')) ? molli.class : molli.class + 'Minor'}} small2"></div>
                </div>
            </div>
        </article>
    </div>
    <h2>Sanoituksen runko</h2>
    <table [cellSpacing]="0" [cellPadding]="0" class="template">
        <thead>
            <tr>
                <th>Alku</th>
                <th>Loppu</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    <h2>Säkeistö A | <span *ngFor="let chord of page.mollit; let i = index"><span style="color: {{chord.color}};">{{(chord.name.includes('m')) ? chord.name : chord.name + 'm'}}<sup *ngIf="i === 2">7</sup> </span></span></h2>
                    <p></p>
                    <h3>Instrumentaali osuus: 5 sec</h3>
                    <h2>Kertosäe | <span *ngFor="let chord of page.duurit; let i = index"><span style="color: {{chord.color}};">{{(i === 2) ? chord.name.replace('m', ''): chord.name}}<sup *ngIf="i === 2">7</sup> </span></span></h2>
                    <p></p>
                    <h3>Instrumentaali osuus: 10 sec</h3>
                    <h2>Säkeistö B | <span *ngFor="let chord of page.mollit; let i = index"><span style="color: {{chord.color}};">{{(chord.name.includes('m')) ? chord.name : chord.name + 'm'}}<sup *ngIf="i === 2">7</sup> </span></span></h2>
                    <p></p>
                    <h3>Instrumentaali osuus: 5 sec</h3>
                    <h2>Kertosäe | <span *ngFor="let chord of page.duurit; let i = index"><span style="color: {{chord.color}};">{{(i === 2) ? chord.name.replace('m', ''): chord.name}}<sup *ngIf="i === 2">7</sup> </span></span></h2>
                    <p></p>
                    <h3>Instrumentaali osuus: 10 sec</h3>
                </td>
                <td>
                    <h2>Silta | <span *ngFor="let chord of page.mollit; let i = index"><span style="color: {{chord.color}};">{{(chord.name.includes('m')) ? chord.name : chord.name + 'm'}}<sup *ngIf="i === 2">7</sup> </span></span></h2>
                    <p></p>
                    <h3>Instrumentaali osuus: 10 sec</h3>
                    <h2>Kertosäe | <span *ngFor="let chord of page.duurit; let i = index"><span style="color: {{chord.color}};">{{(i === 2) ? chord.name.replace('m', ''): chord.name}}<sup *ngIf="i === 2">7</sup> </span></span></h2>
                    <p></p>
                    <h3>Instrumentaali osuus: 10 sec</h3>
                    <h2>Silta | <span *ngFor="let chord of page.mollit; let i = index"><span style="color: {{chord.color}};">{{(chord.name.includes('m')) ? chord.name : chord.name + 'm'}}<sup *ngIf="i === 2">7</sup> </span></span></h2>
                    <p></p>
                    <h3>Instrumentaali osuus: 10 sec</h3>
                    <h2>Kertosäe | <span *ngFor="let chord of page.duurit; let i = index"><span style="color: {{chord.color}};">{{(i === 2) ? chord.name.replace('m', ''): chord.name}}<sup *ngIf="i === 2">7</sup> </span></span></h2>
                    <p></p>
                    <h3>Instrumentaali osuus: 10 sec</h3>
                </td>
            </tr>
        </tbody>
    </table>
</section>